#contact {
    ul {
        list-style: none;
        li {
            padding-left: 1em;
            display: inline-block;
            color: grey; 
    
            &:first-child {
                border-left: 0;
                margin-left: 0;
                padding-left: 0;
            }

        }
    }
    
}