.project-container {
    .project-title {
        color: #556B2F;
        font-family: 'Courier', Courier, monospace;
        font-weight: bold;
        text-transform: uppercase;
    }
    
    .date {
        font-family: 'Courier New', Courier, monospace;
        font-size: 0.8em;
        font-weight: lighter;
    }
    
    .description {
        font-family: 'Times New Roman', Times, serif;
    }
}