.project-container {
    .project-title {
        color: #556B2F;
        font-family: 'Courier', Courier, monospace;
        font-weight: bold;
        text-transform: uppercase;
    }
    
    .description {
        font-family: 'Times New Roman', Times, serif;
    }
}