.prj-container {
    padding-bottom: 8px;
    border-bottom:1px solid #b3b3b3;
}

.prj-title {
    padding-top: 2em;
}
.prj-icon {
    font-size: 4em;
    color: #e0e0de;
    float: left;
    width: 7%;
}
