#resume {
	.school a{
		border-bottom: 1px dotted #000;
		text-decoration: none;
	}
	.container {
		padding-bottom: 10px;
	}
}

.resume-icon {
	font-size: 1em;
    color: #e0e0de;
    float: left;
	font-size: larger;
	width: 7%;
}

.container {
	padding-left: 7%;
}