#resume {
	.school a{
		border-bottom: 1px dotted #000;
		text-decoration: none;
	}
	.section {
		margin-left: auto;
		margin-right: auto;
		font-size: larger;
		width: 25%;
	}
	.container {
		padding-bottom: 10px;
	}
}