#resume {
	.subtitle {
		padding-top: 36px;
		margin-left: auto;
		margin-right: auto;
		width: 25%;
	}

	.school a{
		border-bottom: 1px dotted #000;
            text-decoration: none;
	}

	.container {
		padding-bottom: 2px;
	}
}