#header {
  background-color: white;
  padding-left: 1.5em;
  position: fixed;
  top: 0;
  width: 100%;
  border:1px solid #f2f2f2; 
  .index-links {
    text-align: left;
    float: left;
    font-size: small;
    padding-right: 1em;
  }
  
  .links{
    overflow: visible;
    font-size: small;
    
    ul {
      list-style: none;
      li {
        padding-left: 1em;
        padding-right: 1em;
        display: inline-block;
        color: #666666;  
        border-left:1px solid #b3b3b3; 
      }
    }  
    a {
          border-bottom: 0;
          text-transform: uppercase;
    }
  }
  
}