#sidebar {
    height: 100%;
    width: 320px;
    position: fixed;
    background-color: inherit;
    overflow-x: hidden;

    .logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
    }

    .sidebarTitle, .bio {
        margin-left: 20%;
        margin-right: 20%;
    }

    .sidebarTitle {
        border-bottom:1px solid #b3b3b3;
        h3{
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: Verdana, Geneva, sans-serif;
        }
    }

    .bio {
        .bio-title {
            font-family: Verdana, Geneva, sans-serif;
            font-size: small;
            text-transform: uppercase;
        }
        .bio-content {
            font-family: 'Times New Roman', Times, serif;
            font-size: small;
            color: #696969;
        }
    }
    
  }