#sidebar {
    height: 100%;
    width: 320px;
    position: fixed;
    background-color: inherit;
    overflow-x: hidden;

    .logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
    }

    .sidebarTitle, .bio {
        margin-left: 20%;
        margin-right: 20%;
    }

    .sidebarTitle {
        padding-bottom: 20px;
        border-bottom:1px solid #b3b3b3;
        h2, p{
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Courier New', Courier, monospace;
        }

        a {
            border-bottom: 1px dotted #000;
            text-decoration: none;
          }
    }

    .bio {
        h4 {
            font-family: Verdana, Geneva, sans-serif;
            text-transform: uppercase;
        }
        p {
            font-family: 'Times New Roman', Times, serif;
            font-size: small;
        }
    }
    
  }