@import './components/header.scss';
@import './components/sidebar.scss';
@import './views/contact.scss';
@import './views/projects.scss';
@import './views/resume.scss';
@import './components/footer.scss';
@import './views/gallery.scss';

.post {
  background-color: white;
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 2%;
  padding-bottom: 4%;
  font-size: smaller;
  font-family: 'Times New Roman', Times, serif;
  border:1px solid #f2f2f2;

  .subtitle {   
    display: inline-flex; 
    font-family: Verdana, Geneva, sans-serif;
    font-size: large;
    color: #1a1a1a;
    text-transform: uppercase;
    border-bottom:1px solid #b3b3b3;
    padding-bottom: 8px;
    margin-bottom: 36px;
  }

  .link-container {
    display: inline-flex;
    h5 {
      padding-right: 1em;
    }
  }
}

body {
  background-color: #f2f2f2;
  min-width: 500px;
}

a {
  color: inherit;
  text-decoration: none;
}

.section {
  margin-left: auto;
  margin-right: auto;
  font-size: larger;
  width: 25%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
  
  .home,
  .resume,
  .projects,
  .gallery,
  .contacts {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
  
  .home {
    background-image: url('/img/background/img-1.jpg');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .resume {
    background-image: url('/img/background/img-2.jpg');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .projects {
    background-image: url('/img/background/img-3.jpg');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }

  .gallery {
    background-image: url('/img/background/img-4.jpg');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }

  .contacts {
    background-image: url('/img/background/img-5.jpg');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
