@import './header.scss';
@import './views/contact.scss';
@import './views/projects.scss';
@import './views/resume.scss';
.post {
    padding-left: 1em;
    .title {
        font-family: Verdana, Geneva, sans-serif;
        font-size: large;
        color: #2f4f4f;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

#home {
    a {
        text-decoration-line: underline;
        text-transform: uppercase;
      }
}